<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">

        <service android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".PetManagementActivity"
            android:exported="false" />
        <activity
            android:name=".PetRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAdoptionsActivity"
            android:exported="false" />
        <activity
            android:name=".ShelterRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ShelterDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ManageSheltersActivity"
            android:exported="false" />
        <activity
            android:name=".AddPetActivity"
            android:exported="false" />
        <activity
            android:name=".LessonDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AdoptionApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".PetListActivity"
            android:exported="false" />
        <activity
            android:name=".PetDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PetOwnerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ShelterOwnerDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".CelebrationActivity"
            android:exported="false" />
        <activity
            android:name=".AdoptionLessonActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity android:name=".ShelterListActivity" />
        <activity android:name=".PetActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>